.quiz-ans {
    font-size: larger;
    color: brown;
    /* border: 10px;
    border-radius: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: cadetblue; */
}
.quiz-ans:hover {
    box-shadow: 3px 7px;
}
p {
    font-size: larger;
    color: blueviolet;
}
